<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persons">
    <insert id="insert">
        insert into persons(name,phone) values(#{name},#{phone})
    </insert>
    <delete id="delete">
        delete from persons where id = #{id}
    </delete>
    <!-- selectAll -->
    <select id="selectAll" resultType="com.ssmDemo.domain.Person">
      select * from persons
    </select>
    <!-- selectAll -->
    <select id="selectNameByPhone" resultType="string" parameterType="string">
      select name from persons where phone = #{phone}
    </select>
</mapper>